$bp-medium-1: 40em;     //640px
$bp-medium-2: 35em;     //640px
$bp-small-1: 30em;      //480px
$bp-small-3: 22em;      //352px

.section-title {
    display: flex;justify-content: center;align-items: center;
    padding: 30px 0;

    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.section-title-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    width: 90vw;
    max-width: 1000px;

    .title-image {
        width: 200px;

        @media only screen and (max-width: $bp-medium-1){
            width: 150px;
        }

        @media only screen and (max-width: $bp-medium-2){
            width: 140px;
        }

        @media only screen and (max-width: $bp-small-1){
            width: 100px;
        }

        @media only screen and (max-width: $bp-small-3){
            width: 80px;
        }

        &.img-right {
            justify-self: end;
        }

        img {
            width: 100%;
        }
    }

    .title-main {
        text-align: center;

        .title {
            padding: .5rem 0;

            @media only screen and (max-width: $bp-medium-1){
                font-size: 25px;
            }

            @media only screen and (max-width: $bp-small-1){
                font-size: 20px;
            }

            @media only screen and (max-width: $bp-small-3){
                font-size: 16px;
            }
        }

        .underline {
            width: 6rem;
            height: .25rem;
            background: #c50404;
            margin-left: auto;
            margin-right: auto;

            @media only screen and (max-width: $bp-small-3){
                width: 4rem;
            }
        }  
        
        .project-number {
            margin-top: 5px;
        }
    }

}

