// Responsive Breakpoint
$bp-large-1: 75em;      //1200px
$bp-large-2: 59em;      //944px
$bp-large-3: 48em;      //768px
$bp-medium-1: 35em;     //560px
$bp-small-2: 27em;      //432px


.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
    padding: 30px 100px 80px 100px;
    background-color: #f6f6f6;

    @media only screen and (max-width: $bp-large-1){
        padding: 30px 70px 80px 70px;
    }

    @media only screen and (max-width: $bp-large-2){
        padding: 30px 30px 80px 30px;
    }

    @media only screen and (max-width: $bp-large-3){
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-medium-1){
        gap: 2rem 1.5rem;
    }

    @media only screen and (max-width: $bp-small-2){
        grid-template-columns: 1fr
    }
}